<apex:page docType="html-5.0"
sidebar="true" 
showheader="true"
standardStylesheets="true"
standardController="Checklist__c"
extensions="ChecklistAdminController"
applyHtmlTag="true"
applyBodyTag="false"
id="todo"
>

<html ng-app="checklistApp">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1,  minimum-scale=1, maximum-scale=1, user-scalable=no"/>
<meta name="viewport" content="initial-scale = 1.0, user-scalable = no"/>
<apex:includeScript value="//code.jquery.com/jquery-1.10.2.js"/>
<apex:includeScript value="//code.jquery.com/ui/1.10.4/jquery-ui.js"/>
<apex:includeScript value="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js"/>
<apex:includeScript value="{!URLFOR($Resource.ChecklistAssets, 'UISortable.js')}"/>
<apex:stylesheet value="{!URLFOR($Resource.ChecklistAssets, 'adminStyle.css')}"/>
<script>
$(function() {
  $( "ol" ).sortable({
    items: "li:not(.placeholder)",
    sort: function() {
      // gets added unintentionally by droppable interacting with sortable
      // using connectWithSortable fixes this, but doesn't allow you to customize active/hoverClass options
      $(this).removeClass( "ui-state-default" );
    }
  });
});
</script>
</head>
<body>
<div id="admin-panel" ng-controller="AdminCtrl">
  <input id="checklistId" value="{!Checklist__c.Id}" type="hidden"></input>
  <div name="newPage" ng-show="newPage">
    <form name="newChecklistForm">
      <div class="bPageTitle">
        <div class="ptBody">
          <div class="content">
            <div class="pageTitleIcon" title="Products"></div>
            <h1 class="pageType">Checklist Edit<span class="titleSeparatingColon">:</span></h1>
            <h2 class="pageDescription"> New Checklist</h2>
          </div>
        </div>
      </div>
      <div class="bPageBlock brandSecondaryBrd bEditBlock secondaryPalette" id="checklist">
        <div class="pbHeader">
          <table border="0" cellpadding="0" cellspacing="0">
            <tbody>
              <tr> 
                <td class="pbTitle" id="checklistTitle"> 
                  <h2 class="mainTitle" style="font-size: 14px;">Checklist Edit</h2>
                </td>
                <td class="pbButton" id="topButtonRow">
                  <input type="submit" class="btn" value="Save" ng-click="newChecklist()"> </input>
                  <input type="submit" class="btn" value="Cancel" onclick="goBack()"> </input>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="pbBody">
          <div class="pbSubsection">
            <table class="detailList" border="0" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td class="labelCol requiredInput">
                    <label for="Name"><span class="requiredMark">*</span>Checklist Name</label>
                  </td>
                  <td class="data2Col" colspan="3">
                    <div class="requiredInput">
                      <div class="requiredBlock">
                      </div>
                      <input id="Name" maxlength="255" size="20" tabindex="1" type="text" ng-model="checklist.name" name="formName" ng-required="true"/>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="labelCol last">
                    <label for="Description">Checklist Description</label>
                    <div class="textCounterOuter">
                      <div class="textCounterMiddle">
                        <div class="textCounter" id="Description_counter">4000 remaining</div>
                      </div>
                    </div>
                  </td>
                  <td class="data2Col last" colspan="3">
                    <textarea cols="75" id="Description" maxlength="4000" name="Description" rows="6" tabindex="5" type="text" wrap="soft" ng-model="checklist.description"></textarea>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="pbBottomButtons">
          <table border="0" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td class="pbTitle">
                  &nbsp;
                </td>
                <td class="pbButtonb" id="bottomButtonRow">
                  <input type="submit" class="btn" value="Save" ng-click="newChecklist()"> </input>
                  <input type="submit" class="btn" value="Cancel" onclick="goBack()"> </input>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="bPageBlock brandSecondaryBrd bEditBlock secondaryPalette" id="checklist">
        <div class="pbHeader">
          <table border="0" cellpadding="0" cellspacing="0">
            <tbody>
              <tr> 
                <td class="pbTitle" id="checklistTitle"> 
                  <h2 class="mainTitle" style="font-size: 14px;">Checklist Items</h2>
                </td>
                <td class="pbButton" id="topButtonRow">
                  <input type="button" class="btn" value="Add Item" ng-click="addQuestion()"></input>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="pbBody">
          <div class="pbSubsection">
            <span style="color: red"> Drag and drop to reorder! </span>
            <ol class="sortable" ui-sortable="true" ng-model="items">
              <li ng-repeat="item in items">
                <div class="full">
                  <h1> Question {{$index + 1}} </h1>
                  <br/><br/>
                </div>
                <div>
                  <table class="detailList" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                      <input type="hidden" ng-model="item.Order__c" ng-required="question.isActive__c"></input>
                      <tr>
                        <td class="labelCol requiredInput">
                          <label for="Name"><span class="requiredMark">*</span>Type</label>
                        </td>
                        <td class="data2Col" colspan="3">
                          <select ng-model="item.Type__c" ng-options="type for type in types" ng-required="true"></select>
                        </td>
                      </tr>
                      <tr>
                        <td class="labelCol requiredInput">
                          <label for="Name">Required?</label>
                        </td>
                        <td class="data2Col" colspan="3">
                          <input type="checkbox" ng-model="item.Required__c" name="O3"></input>
                        </td>
                      </tr>
                      <tr>
                        <td class="labelCol requiredInput">
                          <label for="Name">Allow Photo?</label>
                        </td>
                        <td class="data2Col" colspan="3">
                          <input type="checkbox" ng-model="item.Attach_Photo__c" name="O4"></input>
                        </td>
                      </tr>
                      <tr>
                        <td class="labelCol last">
                          <label for="Description">Question</label>
                          <div class="textCounterOuter">
                            <div class="textCounterMiddle">
                              <div class="textCounter" id="Description_counter">4000 remaining</div>
                            </div>
                          </div>
                        </td>
                        <td class="data2Col last" colspan="3">
                          <div class="requiredBlock">
                          </div>
                          <textarea cols="75" rows="6" maxlength="4000" ng-model="item.Question__c" tabindex="5" type="text" wrap="soft" name="Q1" ng-required="true"></textarea>
                        </td>
                      </tr>
                      <tr ng-show="showValues(item)">
                        <td class="labelCol requiredInput">
                          <label for="Name">Values:</label>
                        </td>
                        <td class="data2Col" colspan="3">
                          <input type="text" ng-model="item.Values__c" name="Q1" style="width: 400px;"></input>
                          <p> Input comma-separated list of possible values. </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <input type='button' class="btn dlt" value='Delete' ng-click='removeQuestion(item)' style="margin-top: -120px"/>
              </li>
            </ol>
          </div>
        </div>
        <div class="pbBottomButtons">
          <table border="0" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td class="pbTitle">
                  &nbsp;
                </td>
                <td class="pbButtonb" id="bottomButtonRow">
                  <input type="button" class="btn" value="Add Item" ng-click="addQuestion()"></input>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
  </div>
  <div id="editChecklist" ng-show="!newPage" >
    <form name="editPage">
      <div class="bPageTitle">
        <div class="ptBody">
          <div class="content">
            <div class="pageTitleIcon" title="Products"></div>
            <h1 class="pageType">Checklist Edit<span class="titleSeparatingColon">:</span></h1>
            <h2 class="pageDescription">{{item.Name}}</h2>
          </div>
        </div>
      </div>
      <div class="bPageBlock brandSecondaryBrd bEditBlock secondaryPalette" id="checklist">
        <div class="pbHeader">
          <table border="0" cellpadding="0" cellspacing="0">
            <tbody>
              <tr> 
                <td class="pbTitle" id="checklistTitle"> 
                  <h2 class="mainTitle" style="font-size: 14px;">Checklist Edit</h2>
                </td>
                <td class="pbButton" id="topButtonRow">
                  <input type="submit" class="btn" value="Save" ng-click="editChecklist()"> </input>
                  <input type="submit" class="btn" value="Cancel" onclick="goBack()"> </input>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="pbBody">
          <div class="pbSubsection">
            <table class="detailList" border="0" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td class="labelCol requiredInput">
                    <label for="Name"><span class="requiredMark">*</span>Checklist Name</label>
                  </td>
                  <td class="data2Col" colspan="3">
                    <div class="requiredInput">
                      <div class="requiredBlock">
                      </div>
                      <input id="Name" maxlength="255" size="20" tabindex="1" type="text" ng-model="item.Name" name="formName" ng-required="true"/>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="labelCol last">
                    <label for="Description">Checklist Description</label>
                    <div class="textCounterOuter">
                      <div class="textCounterMiddle">
                        <div class="textCounter" id="Description_counter">4000 remaining</div>
                      </div>
                    </div>
                  </td>
                  <td class="data2Col last" colspan="3">
                    <textarea cols="75" id="Description" maxlength="4000" name="Description" onchange="handleTextAreaElementChangeWithByteCheck(&#39;Description&#39;, 4000, 4000, &#39;remaining&#39;, &#39;over limit&#39;);" onclick="handleTextAreaElementChangeWithByteCheck(&#39;Description&#39;, 4000, 4000, &#39;remaining&#39;, &#39;over limit&#39;);" onkeydown="handleTextAreaElementChangeWithByteCheck(&#39;Description&#39;, 4000, 4000, &#39;remaining&#39;, &#39;over limit&#39;);" onkeyup="handleTextAreaElementChangeWithByteCheck(&#39;Description&#39;, 4000, 4000, &#39;remaining&#39;, &#39;over limit&#39;);" onmousedown="handleTextAreaElementChangeWithByteCheck(&#39;Description&#39;, 4000, 4000, &#39;remaining&#39;, &#39;over limit&#39;);" rows="6" tabindex="5" type="text" wrap="soft" ng-model="item.Description__c" ng-required="true"></textarea>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="pbBottomButtons">
          <table border="0" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td class="pbTitle">
                  &nbsp;
                </td>
                <td class="pbButtonb" id="bottomButtonRow">
                  <input type="submit" class="btn" value="Save" ng-click="editChecklist()"> </input>
                  <input type="submit" class="btn" value="Cancel" onclick="goBack()"> </input>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="bPageBlock brandSecondaryBrd bEditBlock secondaryPalette" id="checklist">
        <div class="pbHeader">
          <table border="0" cellpadding="0" cellspacing="0">
            <tbody>
              <tr> 
                <td class="pbTitle" id="checklistTitle"> 
                  <h2 class="mainTitle" style="font-size: 14px;">Checklist Items</h2>
                </td>
                <td class="pbButton" id="topButtonRow">
                  <input type="button" class="btn" value="Add Item" ng-click="addQuestionEdit()"></input>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="pbBody">
          <div class="pbSubsection">
            <span style="color: red"> Drag and drop to reorder! </span>
            <ol class="sortable" ui-sortable="true" ng-model="questions">
              <li ng-repeat="question in questions | filter:{isActive__c:'true'}" draggable="true" class="question">
                <div class="full">
                  <h1> Question {{$index + 1}} </h1>
                  <br/><br/>
                </div>
                <div>
                  <table class="detailList" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                      <input type="hidden" ng-model="question.Order__c" ng-required="question.isActive__c"></input>
                      <tr>
                        <td class="labelCol requiredInput">
                          <label for="Name"><span class="requiredMark">*</span>Type</label>
                        </td>
                        <td class="data2Col" colspan="3">
                          <select ng-model="question.Type__c" ng-options="type for type in types" ng-required="true"></select>
                        </td>
                      </tr>
                      <tr>
                        <td class="labelCol requiredInput">
                          <label for="Name">Required?</label>
                        </td>
                        <td class="data2Col" colspan="3">
                          <input type="checkbox" ng-model="question.Required__c"></input>
                        </td>
                      </tr>
                      <tr>
                        <td class="labelCol requiredInput">
                          <label for="Name">Allow Photo?</label>
                        </td>
                        <td class="data2Col" colspan="3">
                          <input type="checkbox" ng-model="question.Attach_Photo__c" name="O4"></input>
                        </td>
                      </tr>
                      <tr>
                        <td class="labelCol last">
                          <label for="Description">Question</label>
                          <div class="textCounterOuter">
                            <div class="textCounterMiddle">
                              <div class="textCounter" id="Description_counter">4000 remaining</div>
                            </div>
                          </div>
                        </td>
                        <td class="data2Col last" colspan="3">
                          <div class="requiredBlock">
                          </div>
                          <textarea cols="75" rows="6" maxlength="4000" ng-model="question.Question__c" tabindex="5" type="text" wrap="soft" name="Q1" ng-required="true"></textarea>
                        </td>
                      </tr>
                      <tr ng-show="showValues(question)">
                        <td class="labelCol requiredInput">
                          <label for="Name">Values:</label>
                        </td>
                        <td class="data2Col" colspan="3">
                          <input type="text" ng-model="question.Values__c" name="Q1" style="width: 400px;"></input>
                          <p> Input comma-separated list of possible values. </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <input type="button" class="btn dlt" value="Delete" ng-click="deleteChecklistItem(question)" style="margin-top: -120px"></input>
                <br/>
              </li>
            </ol>
          </div>
        </div>
        <div class="pbBottomButtons">
          <table border="0" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td class="pbTitle">
                  &nbsp;
                </td>
                <td class="pbButton" id="bottomButtonRow">
                  <input type="button" class="btn" value="Add Item" ng-click="addQuestionEdit()"></input>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
  </div>
</div>
</body>
<script>

/* Angular */
var checklistApp = angular.module('checklistApp', ['ui.sortable']);
checklistApp.controller("AdminCtrl", function ($scope) {
    /** True if we are on the new page. */
    $scope.newPage;
    /** The Id of the current checklist. */
    $scope.checklistId = document.getElementById('checklistId').value;
    /** If there is an Id we get the checklist. */
    if ($scope.checklistId) {
          $scope.newPage = false;
          Visualforce.remoting.Manager.invokeAction(
            '{!$RemoteAction.ChecklistAdminController.getChecklist}',
            $scope.checklistId,
            function(result, event) {
            if (event.status) {
                $scope.item = result;
            } else if (event.type == 'exception') {
            console.log('Exception');
            } else {
            console.log('Error!');
            }
            },
            {escape: true}
            );
    } else {
      $scope.newPage = true;
    }
    /** Questions for the edit view. */
    $scope.questions;
    /** Items for the new view. */
    $scope.items = new Array();
    /** An empty first question for the new view. */
    $scope.items[0] = new Object();
    /** A new Checklist. */
    $scope.checklist = new Object();
    //$scope.checklist.name = 'Default Name';
    //$scope.checklist.description = 'Default Description';
    /** All checklists in the database. */
 
    /** Types of questions. */
    $scope.types = ['Yes/No', 'Number', 'Text', 'Date','Long Text', 'Rating', 'Picklist', 'Multi-Select'];
    /** True if item has Id. */
    $scope.inDB = function(item) {
      return item.Id != null;
    }
    /** Creates a new checklist. */
    $scope.newChecklist = function() {
      for (var i = 0; i < $scope.items.length; i++) {
        $scope.items[i].Order__c = i;
      }
      if ($scope.newChecklistForm.$valid) {
        for(var i = 0; i < $scope.items.length; i++) {
          delete $scope.items[i].$$hashKey;
          console.log($scope.items[i].Type__c);
        }
        Visualforce.remoting.Manager.invokeAction(
          '{!$RemoteAction.ChecklistAdminController.createChecklistWithQuestions}',
          $scope.checklist.name,
          $scope.checklist.description,
          $scope.items,
          function(result, event) {
          if (event.status) {
          console.log('Created everything');
          window.location.assign("/" + result.Id);
          } else if (event.type == 'exception') {
            console.log('Exception');
          } else {
            console.log('Error!');
          }
        },
        {escape: true}
        );
      } else {
        console.log('Invalid New Checklist');
      }
    }

    /** Adds a question to the current checklist. */
    $scope.addQuestion = function() {
      $scope.items.push(new Object());
    }

    /** Adds a question for an edit question. */
    $scope.addQuestionEdit = function() {
      var item = {isActive__c : true, Order__c: $scope.questionCount() + 1, Question__c : "New Question"}
      $scope.questions.push(item);
    }

    /** Removes ITEM from the current checklist. */
    $scope.removeQuestion = function(item) {
      $scope.items.splice($scope.items.indexOf(item), 1);
    }

    /** True if the ITEM needs values to be input. */
    $scope.showValues = function(item) {
      return (item.Type__c == 'Picklist') || (item.Type__c == 'Multi-Select');
    }

    /** Edits the checklist. */
    $scope.editChecklist = function() {
      if ($scope.editPage.$valid) {
        delete $scope.item.attributes;
        var copy = {};
        copy.Id = $scope.item.Id;
        copy.Name = $scope.item.Name;
        copy.Description__c = $scope.item.Description__c;
        Visualforce.remoting.Manager.invokeAction(
            '{!$RemoteAction.ChecklistAdminController.updateChecklist}',
            copy,
            function(result, event) {
            if (event.status) {
            console.log('Updated everything');

            } else if (event.type == 'exception') {
            console.log('Exception');
            } else {
            console.log('Error!');
            }
            },
            {escape: true}
            );
        updateItems(copy);
      } else {
        console.log("Fix EditForm");
      }};

      /** Updates the items in COPY. */
      var updateItems = function(copy) {
        for(var i = 0; i < $scope.questions.length; i++) {
          delete $scope.questions[i].$$hashKey;
          $scope.questions[i].Checklist__c = $scope.item.Id;
          $scope.questions[i].Order__c = i;
        }
        Visualforce.remoting.Manager.invokeAction(
            '{!$RemoteAction.ChecklistAdminController.updateChecklistItems}',
            $scope.questions,
            function(result, event) {
            if (event.status) {
            console.log('Updated everything items');
            window.location.assign("/" + copy.Id);
            } else if (event.type == 'exception') {
            console.log('Exception');
            } else {
            console.log('Error!');
            }
            }, {escape: true}
            );
      }

    /** Deletes the ITEM. */
    $scope.deleteChecklistItem = function(item) {
      console.log(item);
      item.isActive__c = false;
      if(!$scope.inDB(item)) {
        console.log("new");
        var index = $scope.questions.indexOf(item);
        if (index > -1) {
          $scope.questions.splice(index, 1);
        }
      }
    }

    /** Returns the number of questions that are active. */
    $scope.questionCount = function() {
      var count = 0;
      for (var i = 0; i < $scope.questions.length; i++) {
        if ($scope.questions[i].isActive__c) {
          count++;
        }
      }
      return count;
    }

    /** Gets the items for editing a checklit. */
    $scope.getChecklistItems = function() {
      var copy = {};
      copy.Id = $scope.checklistId;
      Visualforce.remoting.Manager.invokeAction(
          '{!$RemoteAction.ChecklistAdminController.getChecklistItems}',
          copy,
          function(result, event) {
          if(event.status) {
          $scope.questions = result;
          $scope.$apply();
          } else if (event.type == 'exception') {
          console.log('Exception');
          } else {
          console.log('Error!');
          }
          },
          {escape:true}
          );
    };

    $scope.getChecklistItems();
});

/** To go back on the browser. */
function goBack() {
    window.history.back()
}

</script>
</html>
</apex:page>