<apex:page docType="html-5.0"
    sidebar="false" 
    showheader="false"
    standardStylesheets="false"
    standardController="Checklist_Response__c"
    extensions="ChecklistExtension"
    applyHtmlTag="false"
    applyBodyTag="false"   
    id="todo"
    >
<html ng-app="myApp">        
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1,  minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="viewport" content="initial-scale = 1.0, user-scalable = no"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js"> </script>
    <script language="javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
    <!-- <apex:includeScript value="{!URLFOR($Resource.RollCallAssets, 'forceTK/forceTK.js')}"/> -->

    <style type="text/css">
        #map {
            height:400px;
        }
    </style>
</head>    

<body>
    <div ng-controller="PagesController">
        <input class='normal' id='checklist_id' type='hidden' value='{!$CurrentPage.parameters.checklist_id}'/>
        <div id="messages"></div>

        <div id="checklistListPage" ng-controller="ListCtrl" ng-show="listPageActive">
            <li ng-repeat="checklist in checklists | orderBy: 'Name'" ng-click="goToDetailPage(checklist.Id)"> 
                <p> Name: {{checklist.Name}} </p>
                <p> Description: {{checklist.Description__c}} </p>
                <p> Id: {{checklist.Id}} </p>
            </li>
        </div>
        <!-- End of checklistListPage -->

        <div id="checklistDetailPage" ng-controller="ChecklistCtrl" ng-show="detailPageActive">
            <div id="checklist">
                <ul>
                    <li ng-show="!checklistitems.length">No checklistitems</li>
                    <form ng-submit="submitForm()">
                        <li ng-repeat="checklistitem in checklistitems | orderBy: 'Checklist_Item__r.Order__c'"> 
                            <span ng-switch="checklistitem.Checklist_Item__r.Type__c">
                                <p> Question: {{checklistitem.Checklist_Item__r.Question__c}} </p> 
                                <p> Required: {{checklistitem.Checklist_Item__r.Required__c}} </p> 
                                <p> Type: {{checklistitem.Checklist_Item__r.Type__c}} </p> 
                                <p> Id: {{checklistitem.Checklist_Item__c}} </p> 
                                <p> Checklist Id: {{checklistitem.Checklist_Item__r.Checklist__c}} </p> 
                                <p> Order: {{checklistitem.Checklist_Item__r.Order__c}} </p> 
                                <input id="form_yes/no_{{checklistitem.Checklist_Item__c}}" type="checkbox" ng-switch-when="Yes/No" ng-model="checklistitem.Answer__c"> </input>
                                <input id="form_number_{{checklistitem.Checklist_Item__c}}" type="number" ng-switch-when="Number" ng-model="checklistitem.Answer__c"> </input>
                                <input id="form_text_{{checklistitem.Checklist_Item__c}}" type="text" ng-switch-when="Text" ng-model="checklistitem.Answer__c"> </input>
                                <input id="form_date_{{checklistitem.Checklist_Item__c}}" type="date" ng-switch-when="Date" ng-model="checklistitem.Answer__c"> </input>
                                <input class="input" type="file" id="image" accept="image/*" ng-switch-when="Photo"/>

                                <textarea id="form_longtext_{{checklistitem.Checklist_Item__c}}" ng-switch-when="Long Text" ng-model="checklistitem.Answer__c">Enter response here...</textarea>
                                <!-- Multiple Values from Database -->
                                <input id="form_rating_{{checklistitem.Checklist_Item__c}}" type="range" ng-switch-when="Rating" min="{{checklistitem.Values__c[0]}}" max="{{checklistitem.Values__c[3]}}" ng-model="checklistitem.Answer__c"> </input>
                                <!--select id="form_date_{{checklistitem.Checklist_Item__c}}" ng-switch-when="Picklist" ng-model="checklistitem.Answer__c"> 
                                    <option value="{{checklistitems.Values__c[0]}}">{{checklistitems.Values__c[0]}}</option>
                                    <option value="{{checklistitems.Values__c[3]}}">checklistitems.Values__c[3]</option>
                                </select>
                                <input id="form_checkbox_{{checklistitem.Checklist_Item__c}}" type="checkbox" value="{{checklistitems.Values__c[0]}}" ng-switch-when="Multi-Select"> </input>
                                <input id="form_checkbox_{{checklistitem.Checklist_Item__c}}" type="checkbox" value="{{checklistitems.Values__c[3]}}" ng-switch-when="Multi-Select"> </input-->
                             </span>
                        </li>
                        <input type="submit" value="Submit"> </input>
                    </form>
                </ul>
                <div ng-click="goToHomepage()">Back to List View</div>


                <div id="map" ng-show="mapActive"></div>


            </div>
        </div>
        <!-- End of checklistDetailPage -->

    </div>
</body>

<script>
 /* Angular */
var myApp = angular.module('myApp', []);

myApp.service('userService', function() {

    var checklistitems;
    var checklists;
    var checklist_id;

    var observerCallbacks = [];

    // Register an Observer
    this.registerObserverCallback = function(callback){
        observerCallbacks.push(callback);
    };

    //call this when you know 'foo' has been changed
    this.notifyObservers = function() {
        angular.forEach(observerCallbacks, function(callback){
            callback();
        });
    };

    this.get_checklist_items = function(checklist_id) {
        var that = this;
        Visualforce.remoting.Manager.invokeAction(
        '{!$RemoteAction.ChecklistExtension.checklist_items}',
        checklist_id,
            function(result, event){
                if (event.status) {
                    checklistitems = result;
                    that.notifyObservers();
                } else if (event.type === 'exception') {
                    console.log('Exception: ' + event.message);
                } else {
                    console.log('Error!');
                }
            },
        {escape: true}
        );
    }

    this.edit_checklist_items = function(checklist_id) {
        var that = this;
        Visualforce.remoting.Manager.invokeAction(
        '{!$RemoteAction.ChecklistExtension.edit_checklist_items}',
        checklist_id,
            function(result, event){
                if (event.status) {
                    checklistitems = result;
                    console.log(result);
                    that.notifyObservers();
                } else if (event.type === 'exception') {
                    console.log('Exception: ' + event.message);
                } else {
                    console.log('Error!');
                }
            },
        {escape: true}
        );
    }

    // returns the Check List Items for a given checklist_id
    this.getCLIs = function () {
        return checklistitems;
    };

})

myApp.controller("ListCtrl", function ($scope, userService) {
    checklists = {!CheckLists};
    $scope.checklists = checklists;
});

myApp.controller("ChecklistCtrl", function ($scope, userService) {
    init();
    function init() {
        $scope.checklistitems = userService.getCLIs();
        userService.registerObserverCallback(updateChecklistitems);
    }
    function updateChecklistitems() {
        $scope.checklistitems = userService.getCLIs();
        // Make sure the scope refreshes itself
        $scope.$apply();
    };

    $scope.submitForm = function() {
        checklist_id = $('#checklist_id').val();
        for(var i = 0; i < $scope.checklistitems.length; i++) {
            delete $scope.checklistitems[i].$$hashKey;
        }
        delete $scope.checklistitems.attributes;
        // create javascript remoting calls to backend
        if (checklist_id == '') {
            function getUrlVars() {
                var vars = [], hash;
                var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
                for (var i = 0; i < hashes.length; i++) {
                    hash = hashes[i].split('=');
                    vars.push(hash[0]);
                    vars[hash[0]] = hash[1];
                }
                return vars;
            } 
            checklist_id = getUrlVars()['id'];
            console.log('checklist_id: ' + checklist_id);
        }
        Visualforce.remoting.Manager.invokeAction(
            '{!$RemoteAction.ChecklistExtension.save_responses}',
            checklist_id,
            $scope.checklistitems,
                function(result, event){
                    if (event.status) {
                        console.log('SUCCESS!');
                    } else if (event.type === 'exception') {
                        console.log('Exception: ' + event.message);
                    } else {
                        console.log('Error!');
                    }
                },
            {escape: true}
        );

        $("#messages").text('Success!');

        // Clearing Input for next checklist
    }
});

var controllers = {};

controllers.PagesController = function ($scope, userService) {

    // Get Url Parameters
    function getUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }

    var checklist = getUrlVars()['checklist_id']; 
    var response = getUrlVars()['id']; 

    // Specific checklist
    if (checklist != null ) {
        $scope.listPageActive = false;
        $scope.detailPageActive = true;
        $scope.checklist_id = checklist;
        $scope.mapActive = false;
        userService.get_checklist_items(checklist);
    }

    // Specific response
    if (response != null ) {
        $scope.listPageActive = false;
        $scope.detailPageActive = true;
        $scope.checklist_id = response;
        $scope.mapActive = true;
        userService.edit_checklist_items(response);
    }

    if (checklist == undefined && response == undefined) {
        $scope.listPageActive = true;
        $scope.detailPageActive = false;
        $scope.checklist_id = null;
    }

    $scope.goToDetailPage = function(checklist_id) {
        $scope.checklist_id = checklist_id;
        $('#checklist_id').val(checklist_id);
        userService.get_checklist_items(checklist_id);
        $scope.listPageActive = false;
        $scope.detailPageActive = true;        
    };
    $scope.goToHomepage = function() {
        $scope.listPageActive = true;
        $scope.detailPageActive = false; 
        $scope.mapActive = false;                   
    }
}

myApp.controller(controllers);

google.maps.event.addDomListener(window, "load", initMap);
function initMap(){

    // Get Url Parameters
    function getUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }
    response = getUrlVars()['id'];

    // console.log(response);
    var latlng = new google.maps.LatLng(-34.397, 150.644);
    var myOptions = {
        zoom: 5,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map"),myOptions);
    /*
    Visualforce.remoting.Manager.invokeAction(
        '{!$RemoteAction.ChecklistExtension.lat_long}',
        response,
            function(result, event){
                if (event.status) {
                    console.log('result: ' + result);
                    console.log(result['&quot;Location__c&quot;']);

                    var latlng = new google.maps.LatLng(-34.397, 150.644);
                    var myOptions = {
                        zoom: 5,
                        center: latlng,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };
                    var map = new google.maps.Map(document.getElementById("map"),myOptions);
                } else if (event.type === 'exception') {
                    console.log('Exception: ' + event.message);
                } else {
                    console.log('Error!');
                }
            },
        {escape: true}
    );
    */

};

</script>

</html>
</apex:page>